@import url('https://fonts.google.com/specimen/Overpass');


body {
    font-family: 'overpass', sans-serif;
    font-weight: 700;
    background-color:  hsl(216, 12%, 8%);
}

.test {
    width: 360px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    background-color:#1b1a24;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.main-rating {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

rating-card {
    
    background-color:pink;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

p {
    font-size: 15px;
}

.rating-number a {
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
}

.star a {
    background-color: hsl(213, 19%, 18%);
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: hsl(25, 97%, 53%);
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    
}

.star a::before{
    content: '⭐';
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: hsl(25, 97%, 53%);
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
}

button {
     border-radius: 30%;
     display: flex;
     width: fit-content;
     
     
}
