@import url('https://fonts.google.com/specimen/Overpass');


body {
    font-family: 'overpass', sans-serif;
    font-weight: 700;
    background-color:  hsl(216, 12%, 8%);
}

.container {
    width: 370px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    background-color:#1b1a24;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.text {
    margin: 12px
}


.main-rating {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

rating-card {
    
    background-color:pink;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

p {
    font-size: 15px;
}

.img {
    background-color: hsl(213, 19%, 18%);
    display: flex;
    width: 45px;
    height: 45px;
    padding: 0px;
    color: hsl(25, 97%, 53%);
    border-radius: 25px;
    margin-top: 20px;
    margin: 12px;
    justify-content:space-evenly;
    align-items: center;
}

.star a::before{
    content: '⭐';
    align-items: center;
    justify-content: center;
    display: flex;
    width: 45px;
    height: 45px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: hsl(25, 97%, 53%);
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
}

.rating-number {
    
}

label {
    justify-content:space-evenly;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    display:inline-flex;
    
    cursor: pointer;
    width: 45px;
    height: 45px;   
    padding: 0px;   
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: normal;
    border-radius: 25px;
    margin: 12px;
}

label:hover {
    background-color: hsl(217, 12%, 63%);
}

input {
    display: none;
    
}

button {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 40px;
    display: inline-flex;  
    justify-content:space-evenly;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: hsl(25, 97%, 53%);
    justify-content:space-evenly;
    align-items: center;
    
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}